@use "../abstracts" as *;

.container {
  width: 100%;
  padding: 0 16px;
  @include breakpoint("medium") {
    width: 800px;
    margin: 0 auto;
  }

  @include breakpoint("large") {
    width: 1040px;
    margin: 0 auto;
  }
}

.button {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 8px 0;
  outline: none;
  box-shadow: none;
  cursor: pointer;

  &--primary {
    background: var(--color-primary);
    color: rgb(255, 255, 255);
  }

  &--link {
    border: 0;
    background: transparent;
  }
}

.text-center {
  text-align: center;
}
