@use "../abstracts/functions" as *;

.navbar {
  padding: 24px 0;
  font-size: rem(18);

  .inner {
    display: flex;
    align-items: center;
  }

  .brand {
    flex: 1;
  }

  .menu {
    flex: 2;
    display: flex;
    align-items: center;
  }

  .list {
    flex: 2;
  }

  a {
    text-decoration: none;
  }

  ul {
    display: flex;

    li {
      margin: 0 8px;
    }
  }

  .actions {
    display: flex;
    align-items: center;

    a + .button {
      margin-left: 16px;
    }
  }
}

.brand {
  span {
    font-weight: 800;
    font-size: 1.5rem;
  }
}
