@use "../abstracts/functions";
@use "../base/root" as *;

.searchbox{
    padding-top: 32px;
    .top{
        display: flex;
        align-items: center;
        flex-flow: row wrap;
    }

    .button{
        background: none;
        box-shadow: none;
        outline: none;
        border:0;
        padding: 8px 16px;
        font-size: functions.rem(16);
        cursor: pointer;
        background: transparent;
        border-radius:3px;

        &.active{
            background: #efefef;
        }

        & + .button{
            margin-left:8px;
        }
    }

    .form{
        display: flex;
        position: relative;
        flex-flow: row nowrap;
        align-items: flex-start;
    }

    .form-group{
        display: flex;
        position: relative;
        flex-flow: column wrap;
    
        label{
            font-size: functions.rem(12);
            background: #fff;
            line-height:1;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            display: inline-block;
            padding: 1px 4px;
            position: absolute;
            top: 0;
            left: 8px;
        }

        &:first-child{
            flex:2;
        }
    }

    .form-control{
        padding: 16px;
        border: 1px solid #ccc;
        border-radius:0;
        margin-top: 6px;
        font-size: functions.rem(16);
        outline: none;
        border-right:0;
        width:100%;

        &.last{
            border: 1px solid #ccc;
            padding-right: 48px;
        }

    }

    .button.button--submit{
        background: var(--color-primary);
        position: absolute;
        top:0;
        right:0;
        color: #FFFF;
        padding: 8px;
        transform: translate(-8px, 8px);
        border-radius:2px;
        margin:0;
        margin-top:6px;
        border: 1px solid var(--color-primary);
        
        img{
            width: 18px;
        }
    }
}